:root {
   --red: hsl(4, 100%, 67%);
   --dark-blue: hsl(234, 29%, 20%);
   --blue: hsl(235, 18%, 26%);
   --grey: hsl(0, 0%,58%);
   --white: hsl(0, 0%, 100%); 
}

@font-face {
   font-family: Roboto;
   src: url("font/Roboto-Regular.ttf"),
        url("font/Roboto-Bold.ttf");
}

body {
   color: var(--blue);
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--dark-blue);
   font-weight: 400;
   font-family: Roboto;
}

main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
.signup-container {
   display: flex;
   background-color: var(--white);
   border-radius: 30px;
}
.txt-content-wrapper {
   width: 50%;
   margin: 20px;
}
h1 {
   color: var(--dark-blue);
   text-align: center;
   font-weight: 700;
   font-size: 3rem;
}
p {
   width: 88%;
   margin: auto 0 20px 20px;
}

ul {
   list-style-image: url("asset/icon-list.svg");
}
li {
   margin: 10px auto;
}
/* ::marker {
   display: flex;
   justify-self: center;
} */

form {
   margin: 30px 20px auto;
}
.label-and-errorMSG-wrap {
   display: flex; 
   justify-content: space-between;
}
input {
   width: 100%;
   height: 40px;
   margin: 10px 10px 30px 0;
   border: 1px solid var(--grey);
   border-radius: 10px;
   transition: 0.4s;
}
input:focus {
   outline: none;
   border: 1px solid red;
}

.error-msg {
   color: #ff0000;
   margin: 0;
   border-radius: 5px;
}

.btn-submit {
   color: var(--white);
   width: 100%;
   height: 40px;
   background-color: var(--dark-blue);
   border: none;
   border-radius: 8px;
}

.img-wrapper {
   width: 50%;
   margin: 20px auto;
}
.desktop-illus-img {
   display: block;
   height: 500px;
   margin: auto 0;
}

.success-container {
   display: none;
   width: 400px;
   height: 400px;
   margin: 4rem auto;
   background-color: var(--white);
   border-radius: 30px;

   transition: 0.5s;
}
.checkmark {
   margin: 2.5rem 2.5rem 20px 2.5rem;
}

h2 {
   color: var(--dark-blue);
   margin: auto auto 10px 2rem;
   font-weight: 700;
   font-size: 2.5rem;
}

.confirmation-txt {
   margin: auto 4rem 10px 2.5rem;
}
#emailSentTo {
   color: var(--dark-blue);
   font-weight: 700;
}

.btn-dismiss {
   color: var(--white);
   width: 300px;
   height: 40px;
   background-color: var(--dark-blue);
   margin: 20px 2.5rem auto;
   border-radius: 8px;
   border: none;

}
.btn-submit:hover,
.btn-dismiss:hover {
   background-color: var(--red);
   transition: 0.4s;
}


  /* Breakpoint */

  @media screen and (max-width: 359px) {
   .signup-container {
      flex-direction: column-reverse;
      padding-bottom: 15px;
      margin: 0.5rem 1rem 2rem;
      border-radius: unset;
   }
   picture {
      display: block;
      margin: auto;
      width: inherit;
   }
   
   .txt-content-wrapper {
      width: 100%;
      margin: 0;
   }
   h1 {
      font-size: 2.5rem;
   }
 
   li {
      margin: 10px 20px 15px auto;
   }

   .img-wrapper {
      width: 100%;
      margin: 0;
   }

   .desktop-illus-img {
      height: inherit;
   }

   /* form {
      margin: auto auto 40px;
   } */
   
  }